/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}



/* =============================
 STYLES FROM BOOTSTRAP 
 ======================== */
.lead {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4; 

}
.big-lead {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.6;
  padding:0.5em; 
  
}
.breadcrumb {
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #eceeef;
    border-radius: 5px;
    overflow: hidden;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-bordered {
    border: 1px solid #ddd;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-custom {
    color: #fff;
    background-color: #568c33;
    border-color: #568c33;
    box-shadow: 1px 1px  #888888;
}
.btn-white {
    color: #027592;
    background-color: #fff;
    border-color: #fff;
    
}
.alert {
    padding: 1em 1.25em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: .25em;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.caption {
    padding: 9px;
    color: #333;
}
.btn-custom {
    color: #fff;
    background-color: #00AEA3;
    border-color: #00AEA3;
    box-shadow: 5px 5px 5px #888888;
}
/* ===================== 
	END BOOTSTRAP STYLES 
======================= */




/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* 
Mobile first is better!
Start all columns width 100%, we change the design when the width gets larger than 768px. 
*/
[class*="col-"] {  	
    width: 100%;
}

* { 
	box-sizing: border-box; 
}

.container {  
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;    
    overflow: hidden;    
}
    
/* Apply clearfix to all .containers */
.container::after { 
    content: "";
	display: table;
    clear: both;    
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.centreit {
    text-align: center;
}

.img-responsive {
   /* width: 100%;  If you want the image to scale both up and down on responsiveness, set the CSS width property to 100% and height to auto:*/  
  max-width: 100% ; /* image to scale down if it has to, but never scale up to be larger than its original size,         */
  height: auto;  
  border:none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;	
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
	
	font-size:26px;
}


html {
    font-size: 0.75em; /* For mobiles, increase with MEDIA quer for Desktop. 12px */
    line-height: 1.4;
}

body {	
	font-family: 'Montserrat', sans-serif;	
}

#wrapper {
    width: 100%; 
    max-width: 1920px;    
    
    animation: fadein 2s;
}

	
	 

/* shrink logo img to small size on mobile. We enlage on Desktop with media */
.logo-list img {
    max-width: 90px;
    height: auto;
}

/* ========== FOOTER ========= */
footer {
    text-align: center;
    
}

/* ========= Animations ========= */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/*
 * Hide visually and from screen readers
 */ 
.hidden {
  display: none !important;
}


.centerOnMob {
	text-align: center;
	padding-top: 1.4em;
}
 
/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.


========================================================================== */
@media only screen and (min-width: 500px) {
	.centerOnMob {
		text-align: left;
	}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
	html {
		font-size: 1em; /* increase font for DESKTOP 16px */	
	}
		
   
    /* float all columns */
    [class*="col-"] {
        float: left;     
        padding: 15px;   
    }
	
	
	
    /* enlarge logo img to original size */
    .logo-list img {
      max-width: 150px !important; /* image to scale down if it has to, but never scale up to be larger than its original size,         */
      height: auto;  
      border:none;
    }

    footer {
        text-align: left;
    }
   
}




@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
		/* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}


